<!-- About us page Body section -->
{% extends 'client_side/base.html' %}
{% load static %}


{% block mainblock %}


<div class="top-placed">
    
</div>
<div class="overlay">
    <h1 style="">
    Our Profile </h1><br>
    <span style="font-weight: bolder;"> The Stepping Stones Elementary School  </span>
 
</div>
<div class="container">
    <div class="row">
        <div class="mission">
            <h5>
                Mission:
            </h5>
            <blockquote class="text-center icos values padd-top mission">
                            <q>
                                     To train our students to become independent learners by equipping them with the necessary skills which will give them the ability to be good listeners, readers, speakers, researchers, innovators and problem solvers
                            </q>
                    </blockquote>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="mission">
            <h5 style="float: right;">
                Vision:
            </h5>
            <blockquote class="text-center icos values padd-top mission" style="clear: both;">
                            <q>
                                To inspire all our students to learn, grow, connect and thrive holistically as life-long learners and be a center of excellence.
                            </q>
                    </blockquote>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        
            <div class="icon">
                <div class="aims">
                    <h5>
                        Aims and Objectives:
                    </h5>
                    <ol class="text-left">
                        <li>To clearly communicate to the students both orally and practically, information as prescribed in the curriculum and any other information that will impact knowledge.</li><br>
                        <li>To stir the children to a point of becoming self-driven, and desiring success through hard work.</li>
                        <li>To create a learning environment that promotes mastery of essential skills at every level.</li>
                        <li>To connect with our community who are our partners in all aspects to ensure what we pass on to the students is upheld both in school and outside of school.</li>
                        <li>To create a culture of nobility.</li> <br>
                 
                    </ol>
                    <div class="clear"></div>
                </div>
            </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="reason">
                <p>
                    At the Stepping Stones Elementary school, we realize our pupil's futures rest in our hands. We provide them with a safe and secure environment that encourages them to realize their full potential. for us, it is vital to prepare our pupils to excel and flourish beyond Stepping Stones school. As a center of excellence, our standards are high and we strive to make learning exciting and holistic while ensuring that the pupils have the confidence to firmly grasp problems and develop solutions. The Kindergarten caters for children between the age of three to six years in a friendly learning environment where play is integral with a rich blend of academic and co-curricular activities. craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="icon" style="padding-top: 55px;">
    <div class="container ">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalouge firstRow firstColumn newsLetter">
                <div class="tagsCatalouge">
                    <div class="tagTop">Term three Newsletter</div>
                    <div class="tagBottom"> <a href="static/NEWSLETTER_TERM_2 _2017.docx" download> Read Newsletter...</div>
                </div>
                <h3>Term Three Newsletter 2017</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="catalouge firstRow firstColumn glance">
                <div class="tagsCatalouge">
                    <div class="tagTop">Stepping Stones At A Glance</div>
                    <div class="tagBottom">See More...</div>
                </div>
                <h3>Stepping Stones At A Glance</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="catalouge firstRow firstColumn festival">
                <div class="tagsCatalouge">
                    <div class="tagTop">Music Festival 2017</div>
                    <div class="tagBottom">View pictures...</div>
                </div>
                <h3>Music Festival 2017</h3>
            </div>
        </div>
    </div>
</div>
</div>





{% block footer %}
{% include 'client_side/footer.html' %}
{% endblock %}
{% endblock %}