{% block footer %}


<footer class="learningFooter">
<div class = "column logo"><img src="static/images/Badge-Final.png" alt="The Stepping Stones Elementary School"></div>
<div class="column Academics"><nav>
    <ul>
    <li><h3>Academics</h3></li>
        <li><a href="#">Our Learning Approach</a></li>
        <li><a href="#">Student Application</a></li>
        <li><a href="#">Boarding Life</a></li>
        <li><a href="#">Reviews</a></li>
    </ul></nav></div>
    <div class="column "><nav>
    <ul>
    <li><h3>Contact us</h3></li>
        <li class="email">
            contactus@thesteppingstoneselementaryschool.sc.ke
        </li>
        <li>
            telephone:  +254709746944
        </li>
        <li>
            telephone: +254452121149

            
            </li>
        <li class="socioicons"><a href="https://www.facebook.com/The-Stepping-Stones-Elementary-School-864457983605810/"><img src="static/images/005-social.png" ></a></li>
        <li class="socioicons"><a href="https://www.instagram.com/thesteppingstoneselementary/"><img src = "static/images/003-twitter-logo-button.png"></a></li>
        <li class="socioicons"><a href="https://www.linkedin.com/in/thesteppingstones-elementary-52276914b/"><img src = "static/images/001-linkedin-logo-button.png"></a></li>
    </ul></nav></div>
    <div style="clear: both;"></div>
</footer>


{% endblock %}