<!-- Gallery page Body section -->
{% extends 'client_side/base.html' %}
{% load static %}


{% block mainblock %}

<style type="text/css">
	.navigation{
		background: maroon;
	}
</style>
<div class="top-bar">

</div>
<div class="top-shade">
	
</div>

<div class="">
	<div class="">
		<div class=" padding-out overlay-shadow">
			

    

   
      <div class="mixitup ">
    <ul id="Grid" class="unstyled ">
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f01.jpg">
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f02.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f03.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f04.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f05.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f06.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f07.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f08.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix fashion">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/f09.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s01.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s02.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s03.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s04.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s05.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s06.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s07.jpg">

          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s08.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix sports">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/s09.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g01.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g02.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g03.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g04.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g05.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g06.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g07.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g08.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix graduation">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/g09.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t01.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t02.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t03.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t04.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t05.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t06.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t07.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t08.jpg">
            
          </div>
        </div>
      </li>
      <li class="mix trips">
        <div>
          <div class="media-thumb pic"> <img src="static/img/events/t09.jpg">
            
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--end:.mixitup--> 
  
  </div>

		</div>
	</div>


</div>

  <div class="gallery-menu">
<ul class="gallery-control">
<h3 style="color: #2c3e50;text-transform: uppercase;font-size: 20px;">
    School albums
</h3>
      <div style="margin-left: -38px;">
        <li class="filter active" data-filter="graduation fashion sports trips">
          <input type="radio" name="options" id="option1">
          <div><span>  All</span></div>
           </li>
        <li class=" filter" data-filter="fashion">
          <input type="radio" name="options" id="option2">
          <div><span> Fashion Show </span> </div>
        </li>
        <li class=" filter" data-filter="graduation">
          <input type="radio" name="options" id="option3">
          <div><span>Graduation day </span></div>
           </li>
        <li class=" filter" data-filter="sports">
          <input type="radio" name="options" id="option3">
          <div><span>Sports Day </span></div>
           </li>
          <li class="     filter" data-filter="trips">
          <input type="radio" name="options" id="option4">
          <div>          <span>Competitions  </span></div>
</li>
         
      </div>
    </ul>
</div><a class="gallery-side" href="#">
	Categories
</a>

<div class="side-menu">

	<ul>
		<a href="index.html"><li class="active">

		<i class="fa fa-home" aria-hidden="true"></i>
		Home</li></a>
		<div class="links">
			<a href="welcome.html"><li>Welcome</li></a>
			
			<a href="contact.html"><li>location</li></a>
		</div> 
		<a href="about.html"><li class="active">
				<i class="fa fa-info" aria-hidden="true"></i>
				About</li></a>
		<div class="links">
			<a href="contact.html"><li>location</li></a>
			<a href="MeetTheTeam.html"><li> Meet The Team</li></a>
			<a href="gallery.html"><li>Gallery</li></a>
			
		</div> 
		<a href="#"><li class="active">
			
			<i class="fa fa-book" aria-hidden="true"></i>
		Learning</li></a>
		<div class="links">
			<a href="#"><li>Curriculum</li></a>
			<a href="#"><li>Co-Curriculum</li></a>
			<a href="#"><li>Facilities</li></a>
		</div>
		<a href="contact.html"><li class="active">
			<i class="fa fa-question-circle" aria-hidden="true"></i>
		Enquiries</li></a>
		<div class="links">
				<a href="applicationform.html"><li>Apply for a job</li></a>
				<a href="StudentApplication.html"><li>Student?Join us</li></a>
				<a href="#"><li>Fee structure</li></a>
		</div>		
		<a href="#"><li>Parents</li></a>
		<div class="links">
			
			<a href="#"><li>Our Uniform</li></a>
			<a href="#"><li>Fee structure</li></a>
		</div>
		
		<a href="adminlog.html"><li>Admin</li></a>
		
		
		
	</ul>
</div>


{% block footer %}
{% include 'client_side/footer.html' %}
{% endblock %}
{% endblock %}