
{% extends 'client_side/base.html' %}
{% load static %}


{% block mainblock %}



    <div class = "sect sectOne">
        <h1 class="fadeInLeft wow animated" data-wow-delay="15s">
            THE STEPPING<br> STONES <br>ELEMENTARY SCHOOL.
        </h1>
        <h2 class="fadeInLeft wow animated" data-wow-delay="15s">
            " Embracing Excellence ."
        </h2>
        <a href="contact.html">
            <div class="button rightButton fadeInLeft wow animated" data-wow-delay="15s">
                Contact us
            </div>
        </a>
        <!-- <a href="StudentApplication.html">
            <div class="button leftButton fadeInLeft wow animated" data-wow-delay="15s">
                Enroll
            </div>
        </a> -->
        
    </div>
    <div class="principal">
        <p>
            " The Stepping Stones Elementary School is not just the usual setting designed for acquisition of literacy but an institution where self awareness is aroused and illuminated, refined and strengthened, a place where seeds of integrity and duty are sown and natured into fruition National goals and policies of education are objectively super but the means of achieving them is left solely to the schools.... " 
        </p>
        <div class="tags">
            <div class="tagTop">A welcome message from the principal</div>
        <div class="tagBottom " data-toggle="modal" data-target="#myModal">
        <div class="tag-hover">
            
        </div >Read Message...
        </div>
    </div>
        <!-- <div class="caption">
            Madam Lilly.<br>
            <i>
                <em>
                    School Principal
                </em>
            </i>
        </div> -->
    </div>
</div>
<h4 class="topic">News & Events</h4>
<div class="icon">
<div class="container ">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="catalouge firstRow firstColumn newsLetter">
                <div class="tagsCatalouge">
                    <div class="tagTop">Term three Newsletter</div>
                    <div class="tagBottom"> <a href="static/NEWSLETTER_TERM_2 _2017.docx" download> Read Newsletter...</a></div>
                </div>
                <h3>Term Three Newsletter 2017</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalouge firstRow firstColumn glance">
                <div class="tagsCatalouge">
                    <div class="tagTop">Stepping Stones At A Glance</div>
                   <a href="/about"> <div class="tagBottom"> See More...</div></a>
                </div>
                <h3>Stepping Stones At A Glance</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="catalouge firstRow firstColumn festival">
                <div class="tagsCatalouge">
                    <div class="tagTop">Music Festival 2017</div>
                    <div class="tagBottom">View pictures...</div>
                </div>
                <h3>Music Festival 2017</h3>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="catalouge firstRow firstColumn team">
                <div class="tagsCatalouge">
                    <div class="tagTop">We offer accomodation</div>
                    <div class="tagBottom"> Our team...</div>
                </div>
                <h3>Our Boarding section</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="catalouge firstRow firstColumn kindergarten">
                <div class="tagsCatalouge">
                    <div class="tagTop">Kindergarten</div>
                    <div class="tagBottom">See More...</div>
                </div>
                <h3>Stepping Stones At A Glance</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="catalouge firstRow firstColumn graduation">
                <div class="tagsCatalouge">
                    <div class="tagTop">School graduation ceremony</div>
                    <div class="tagBottom">View pictures...</div>
                </div>
                <h3>School graduation ceremony</h3>
            </div>
        </div>
    </div>
</div>
</div>



{% block footer %}
{% include 'client_side/footer.html' %}
{% endblock %}

{% endblock %}
