
{% extends 'client_side/base.html' %}
{% load static %}


{% block mainblock %}

<body>

<div class = "sect">
<div class = "overlayinverse"><div class = "textinverse"><h1>We Are <br> The Stepping Stones <br>Elementary School.</h1></div></div>
<div class = "wrapper" >
<div class="container">
  <img src="static/img/static/img/ProfileImages/IMG_6559.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Lily Kitala</h3>
	<p>The Principal</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6560.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Mr. Kimani</h3>
	<p>The HeadTeacher</p>
	</div>
  </div>
</div>


<div class="container">
  <img src="static/img/ProfileImages/IMG_6485.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Phelix Ndallo</h3>
	<p>The deputy HeadTeacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6610.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Jairus</h3>
	<p>Dean of Students</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6717.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Agnes</h3>
	<p>School Accountant</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6588.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Ruth</h3>
	<p>The School Secretary</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6752.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Maria</h3>
	<p>Assistant Coordinator</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6538.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Rhodah</h3>
	<p>Kindergarten Head</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6708.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Lilian</h3>
	<p>Pre-Unit</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6744.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Leah</h3>
	<p>Pre-Unit Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6556.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Jecinter</h3>
	<p>Pre-Unit</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6534.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Florence</h3>
	<p>Nursery Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6722.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Noreen</h3>
	<p>Nursery Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6567.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Naomi</h3>
	<p>Nursery Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6558.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Pauline</h3>
	<p>Nursery Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6585.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Gladys</h3>
	<p>Baby Class Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6595.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Eunice</h3>
	<p>Baby Class Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6596.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Ruth</h3>
	<p>Baby Class Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6759.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Sheila</h3>
	<p>Baby class Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6714.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Mulandi</h3>
	<p>Lower Primary Head</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6555.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Godwin</h3>
	<p>Lower Primary Head</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6549.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Godwin</h3>
	<p>Lower Primary Head</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6546.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Godwin</h3>
	<p>Lower Primary Head</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6542.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Anne</h3>
	<p>Class 1 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6541.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Jemimah</h3>
	<p>Class 1 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6530.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Magdalene</h3>
	<p>Class 2 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6552.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>James</h3>
	<p>Class 3 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6531.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Micana</h3>
	<p>Class 4 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6517.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Sharon</h3>
	<p>Class 4 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6577.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Kaptich</h3>
	<p>Class 5 Teacher</p>
	</div>
  </div>
</div>


<div class="container">
  <img src="static/img/ProfileImages/IMG_6772.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Evelyn</h3>
	<p>Class 6 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6745.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Susan</h3>
	<p>Class 7 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6473.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Jacob</h3>
	<p>Class 7 Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6456.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Lawrence</h3>
	<p>Home Economics Patron</p>
	</div>
  </div>
</div>


<div class="container">
  <img src="static/img/ProfileImages/IMG_6458.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Chagema</h3>
	<p>Head of Scouting</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6470.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Geoffrey</h3>
	<p>Head of Music</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6570.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Robert</h3>
	<p>Head of Sports</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6528.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Nanou</h3>
	<p>French Teacher</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6513.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Juliana</h3>
	<p>Librarian</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6453.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Barrack</h3>
	<p>Head Of Security</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6593.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Francisca</h3>
	<p>Security Gaurd</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6727.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Joseph</h3>
	<p>Security Gaurd</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6569.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Mark</h3>
	<p>Head Cheff</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6566.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Peter</h3>
	<p>Assistant Cheff</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6539.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Tom</h3>
	<p>Assistant Cheff</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6603.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Kelas</h3>
	<p>Kitchen Staff</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6491.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Lilian</h3>
	<p>Matron</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6511.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>David</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6520.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Henry</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6475.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Agrey</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6521.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Moreen</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6563.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Naomi</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6594.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Kevin</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6500.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Celestine</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6505.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Tony</h3>
	<p>Cleaner</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6835.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Peter</h3>
	<p>Transport Manager</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6832.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Dennis</h3>
	<p>Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6860.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Boyie</h3>
	<p>Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6842.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Esau</h3>
	<p>Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6849.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Juma</h3>
	<p>Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6836.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Brian</h3>
	<p>Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6863.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Granton</h3>
	<p>Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6856.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Ouma</h3>
	<p>Driver</p>
	</div>
  </div>
</div>


<div class="container">
  <img src="static/img/ProfileImages/IMG_6737.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Elvis</h3>
	<p>Assistant Driver</p>
	</div>
  </div>
</div>

<div class="container">
  <img src="static/img/ProfileImages/IMG_6598.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">
	<h3>Simiyu</h3>
	<p>Assistant Driver</p>
	</div>
  </div>
</div>

</div>


</div>
<!-- jQuery -->


{% block footer %}
{% include 'client_side/footer.html' %}
{% endblock %}

{% endblock %}
